/* Referenciar ID: # , classe: .  */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    /* background-image: url("colocar algo"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    background-color: rgb(58, 55, 54);
    color: rgb(240, 240, 240);
    margin: 0;
    padding: 0;
}

#lyrics {
    text-align: justify;
}